<!DOCTYPE html>
<html>
  <head>
    <title>Finances</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div>
          current user is <%= current_user.email %>
      </div>
      <div>
        <%= link_to "salir", destroy_user_session_path(current_user), method: :delete %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
