<h1>New Account</h1>

<%# <%= render 'form', account: @account %>

<%= form_with model: @account do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', accounts_path %>
